.u-section-1 .u-sheet-1 {
  min-height: 464px;
}

.u-section-1 .u-table-1 {
  margin-top: 57px;
  margin-bottom: 57px;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

#sec-f729 {
  margin-top: -100px;
}

#sec-278a {
  text-align: center;
  background-color: #333333;
  color: white;
  margin-inline-start: auto;
  margin-bottom: 0;
  width: 100%;

  height: 130px;
}
