.u-section-1 .u-sheet-1 {
  min-height: 576px;
}

.logout {
  font-size: 50px;
  top: 0px;
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 476px;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 0;
}

.u-section-1 .u-image-1 {
  height: 213px;
  margin: 0 auto 0 30px;
}

.u-section-1 .u-text-1 {
  margin: 20px auto 0 30px;
}

.u-section-1 .u-text-2 {
  width: 91px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0 138px;
  padding: 2px 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 0;
}

.u-section-1 .u-image-2 {
  height: 213px;
  margin: 0 auto 0 30px;
}

.u-section-1 .u-text-3 {
  margin: 20px auto 0 30px;
}

.u-section-1 .u-text-4 {
  width: 91px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0 138px;
  padding: 2px 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 0;
}

.u-section-1 .u-image-3 {
  height: 213px;
  margin: 0 auto 0 30px;
}

.u-section-1 .u-text-5 {
  margin: 20px auto 0 30px;
}

.u-section-1 .u-text-6 {
  width: 91px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0 138px;
  padding: 2px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 393px;
  }

  .u-section-1 .u-image-1 {
    height: 176px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    height: 176px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    height: 176px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 903px;
  }

  .u-section-1 .u-image-1 {
    height: 202px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 202px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    height: 202px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-1 {
    height: 303px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 303px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    height: 303px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 191px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 191px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    height: 191px;
    margin-right: initial;
    margin-left: initial;
  }
}